.DS_Store
venv/
data/
checkpoints/
models/
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.~*
*.log
*.tmp
*.out
*.pid
*.pidlock
*.lock
*.sqlite3
*.db
*.db-journal
*.csv
*.tsv
*.json
*.xml
*.yaml
*.yml
*.html
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.zip
*.gz
*.task
*.env